<% if (user) { %>
  <% if (typeof req !== 'undefined' && req.originalUrl === '/recipes') { %>
    <a href="/recipes/new">New Recipe</a>
    <a href="/auth/sign-out">Sign Out</a>
  <% } else { %>
    <a href="/recipes">Home</a>
    <a href="/recipes">View Recipes</a>
    <a href="/recipes/new">New Recipe</a>
    <a href="/ingredients">Ingredients</a>`
    <a href="/community">Community</a>`
    <a href="/auth/sign-out">Sign Out</a>
  <% } %>
<% } else { %>
  <a href="/auth/sign-up">Sign Up</a>
  <a href="/auth/sign-in">Sign In</a>
<% } %>
