<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Community</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>

    <h1>The CookBook Community</h1>

    <% if (user) { %>
    
    <% } %>

    <h3>Community Members:</h3>
    <ul>
      <% users.forEach(member => { %>
        <li class="li-community">
          <a href="/community/<%= member._id %>"><%= member.username %></a>
        </li>
      <% }) %>
    </ul>
  </body>
</html>