<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
  </head>
  <body>
    <%- include('./partials/_navbar.ejs') %>
  
    <% if (user) { %>
    <h1>Welcome, you are signed in</h1>
    <h2>You have full access to all options</h2>
    <p>Check out your community, you can see who else is a culinary 
      aficionado, plus you can see what tasty treats they are 
      whipping up!        
    </p>
    <% } else { %>
    <h1>Community Cookbook</h1>
    <h2>Currently, you are not signed in.</h2>
    <p class="index-btn-container">Would you like to: 
      <a class="a-index-sign-up" href="/auth/sign-up">Sign up</a>,
      <a class="a-index-sign-in" href="/auth/sign-in">Sign in</a>.
      or <a href="/recipes">browse recipes</a> as a guest? 
      You will not be able to modify, create or delete any of your recipes until you have signed in.
        </p>
    <% } %>
 
  </body>
</html>
