<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
  </head>
  <body>
    <%- include('./partials/_navbar.ejs') %>
  
    <% if (user) { %>
    <h1>Welcome <%= user.username %>!</h1>
    <p>
      <a href="/auth/sign-out">Sign out</a>
    </p>
    <% } else { %>
    <h1>Welcome to the Community Cookbook</h1>
    <h2>Currently, you are not signed in.</h2>
    <p>Would you like to: 
      <a href="/auth/sign-up">Sign up</a>,
      <a href="/auth/sign-in">Sign in</a>.
      or <a href="/recipes">browse recipes</a> as a guest? 
      You will not be able to modify, create or delete any of your recipes until you have signed in.
        </p>
    <% } %>
 
  </body>
</html>
