<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ingredients</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Ingredients</h1>
    <div class="index-grid">
      <% if (ingredients.length > 0) { %>
      <div class="index-grid-item">                    
          <ul>
            <% ingredients.forEach(ingredient => { %>
            <li>
              <%= ingredient.name %>
              <a href="/ingredients/<%= ingredient._id %>/edit">Edit</a>
            </li>
            <% }) %>
          </ul>

          <a href="/ingredients/new">Add New Ingredient</a>
        </ul>
      </div>
      <% } %>
    </div>
  </body>
</html>
