<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ingredients</title>
  </head>
  <body>
    <%- include('./partials/_navbar.ejs') %>
    <h1>Manage your ingredients here</h1>

    <% if (allIngredients.length > 0) { %>
        <% allIngredients.forEach(ingredient => { %>
            <p><%= ingredient.name %></p>
        <% }) %>
    <% } %>


    <!-- <div class="index-grid">
        <% if (recipes.length > 0) { %>
        <div class="index-grid-item">
          <ul>
            <% recipes.forEach(recipe => { %> -->
 
  </body>
</html>
