<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="icon" href="/favicon.ico" />
    <title>New Recipe</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Add New Recipe</h1>
    <form action="/recipes" method="POST">
      <label for="name">Name:</label>
      <input type="text" name="name" required />
      <br />

      <label for="instructions">Instructions:</label>
      <textarea name="instructions"></textarea>
      <br />

      <h3>Choose Existing Ingredients:</h3>
      <% if (allIngredients.length > 0) { %> <%
      allIngredients.forEach(ingredient => { %>
      <label class="index">
        <input
          type="checkbox"
          name="ingredientIds"
          value="<%= ingredient._id %>"
        />
        <%= ingredient.name %> </label
      ><br />
      <% }) %> <% } else { %>
      <p>No existing ingredients found.</p>
      <% } %>

      <br />
      <h3>Or Add New Ingredients:</h3>
      <input
        type="text"
        name="newIngredients"
        placeholder="e.g. cinnamon, olive oil"
      />
      <br /><br />

      <button type="submit">Create Recipe</button>
    </form>
  </body>
</html>
